body {
	width: 100%;
	height: auto;
	margin: 0px 0px 0px 0px;
	overflow-x: hidden;
	font-family: "Plus Jakarta Sans", sans-serif;
}
#hero-container {
	width: 100%;
	height: auto;
}
#header {
	position: relative;
	height: auto;
	width: 100%;
	margin-top: 15px;
	color: #13183f;
}
#header-btn {
	background-color: #13183f;
}
#header-btn:hover {
	background-color: #666ca3;
}
#hero-btn:hover {
	background: linear-gradient(
			0deg,
			rgba(255, 255, 255, 0.5),
			rgba(255, 255, 255, 0.5)
		),
		linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
}
#footer-btn:hover {
	background: linear-gradient(
			0deg,
			rgba(255, 255, 255, 0.5),
			rgba(255, 255, 255, 0.5)
		),
		linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
}
.course-more-info:hover {
	color: #ffa7c3;
}
#nav-bar {
	width: 100%;
	height: auto;
}
#header-btn {
	background-color: #13183f;
}
#footer {
	display: flex;
	margin: 0px 0px 0px 0px;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 120px;
	background-color: #13183f;
	color: #ffffff;
}
#footer-btn {
	background: linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
}

.course-card {
	position: relative;
}
.course-icon {
	position: absolute;
	left: 20px;
	top: -28px;
}
#popular-course-card {
	position: relative;
	background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 767px) {
	.inner-container {
		width: 85%;
		height: 56px;
		margin: auto;
		display: flex;
		justify-content: space-between;
	}
	#hero-title {
		font-style: normal;
		font-weight: 800;
		font-size: 40px;
		line-height: 50px;
		color: #13183f;
	}
	#hero-text {
		margin-top: 26px;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 26px;
		color: #83869a;
	}
	#hero-inner-container {
		width: 100%;
		height: 100%;
	}
	#left-section {
		width: 100%x;
		height: auto;
		margin-left: 16px;
		margin-right: 16px;
	}
	#hero-image-mobile,
	#hero-image-container {
		margin-top: 30px;
		width: 100%;
		height: auto;
	}
	#hero-image-tablet-desktop {
		visibility: hidden;
	}
	#hero-btn {
		background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
		margin-top: 24px;
	}

	.logo {
		font-style: normal;
		font-weight: 800;
		font-size: 28px;
		line-height: 35px;
	}

	.btn {
		height: 56px;
		width: 130px;
		border-radius: 28px;
		border: 0px;
		padding: 2px 5px;

		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 28px;
		color: #ffffff;
	}

	#main {
		width: 100%;
		height: 1615px;
	}
	#inner-main {
		width: 90%;
		height: 100%;
		margin: auto;
		display: grid;
		grid-template-columns: 90%;
		grid-template-rows: repeat(6, 283px);
		grid-row-gap: 70px;
	}
	.card {
		width: 100%;
		height: 283px;
		background: #ffffff;
		box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
		border-radius: 15px;
	}

	.inner-card-container {
		position: relative;
		width: 250px;
		height: 218px;
		margin: 50px 20px;
	}
	.course-more-info {
		position: absolute;
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 28px;
		color: #f74780;
		left: 0px;
		bottom: 0px;
	}

	.course-title {
		font-style: normal;
		font-weight: 800;
		font-size: 20px;
		line-height: 25px;
		color: #13183f;
	}
	.course-description {
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 26px;
		color: #83869a;
	}
	.course-card {
		position: relative;
		padding-left: 20px;
	}
	.card-control {
		margin-top: -150px;
	}
	#popular-course-card {
		height: 150px;
	}
	#popular-course-text {
		padding: 10px 10px;
		font-style: normal;
		font-weight: 800;
		font-size: 24px;
		line-height: 32px;
		color: #ffffff;
	}
	#footer {
		display: flex;
		margin: 400px 0px 0px 0px;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 120px;
		background-color: #13183f;
		color: #ffffff;
	}
}
@media (min-width: 768px) {
	.inner-container {
		width: 85%;
		height: 56px;
		margin: auto;
		display: flex;
		justify-content: space-between;
	}
	#nav-bar {
		width: 100%;
		height: auto;
		z-index: 2;
	}
	#hero-title {
		font-style: normal;
		font-weight: 800;
		font-size: 40px;
		padding: 30px;
		line-height: 50px;
		color: #13183f;
	}
	#hero-text {
		font-style: normal;
		font-weight: 500;
		margin-top: -40px;
		padding: 0px 50px 0px 30px;
		font-size: 16px;
		line-height: 26px;
		color: #83869a;
	}
	#hero-inner-container {
		display: flex;
		width: 100%;
		height: auto;
	}
	#left-section {
		position: absolute;
		width: 50%;
		height: auto;
		left: 10px;
		top: 50px;
	}
	#hero-image-tablet-desktop,
	#hero-image-container {
		width: 50%;
		height: 640px;
	}
	#hero-image-tablet-desktop {
		z-index: -1;
		position: absolute;
		background-image: url("/assets/image-hero-tablet.png");
		right: 0%;
		top: -15%;
		clip: rect(92px, 520px, 640px, 0px);
	}
	#hero-image-mobile {
		visibility: hidden;
	}
	#hero-btn {
		background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
		margin: 20px 0px 0px 30px;
	}

	.logo {
		font-style: normal;
		font-weight: 800;
		font-size: 28px;
		line-height: 35px;
	}

	.btn {
		width: 167px;
		height: 56px;
		border-radius: 28px;
		border: 0px;

		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 28px;
		color: #ffffff;
	}

	#main {
		width: 100%;
		height: auto;
		margin-top: -30px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
	}
	#inner-main {
		width: 90%;
		height: 950px;
		display: grid;
		grid-template-columns: repeat(2, 45%);
		grid-template-rows: repeat(3, 259px);
		grid-row-gap: 50px;
		grid-column-gap: 30px;
	}
	.card {
		width: 100%;
		height: 100%;
		background: #ffffff;
		box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
		border-radius: 15px;
	}
	.inner-card-container {
		position: relative;
		width: 286px;
		height: 200px;
		margin: 50px auto;
	}
	.course-more-info {
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 28px;
		color: #f74780;

		position: absolute;
		left: 0px;
		bottom: 0px;
	}
	.course-title {
		font-style: normal;
		font-weight: 800;
		font-size: 20px;
		line-height: 25px;
		color: #13183f;
	}
	.course-description {
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 26px;
		color: #83869a;
	}
	#popular-course-text {
		position: absolute;
		height: 64px;
		left: 9.44%;
		right: 6.19%;
		top: calc(50% - 64px / 2 - 41.5px);

		font-family: "Plus Jakarta Sans";
		font-style: normal;
		font-weight: 800;
		font-size: 24px;
		line-height: 32px;

		color: #ffffff;
	}
}
@media (min-width: 1024px) {
	.inner-container {
		width: 85%;
		height: 56px;
		margin: auto;
		display: flex;
		justify-content: space-between;
	}
	#nav-bar {
		width: 100%;
		height: auto;
		z-index: 2;
	}

	#hero-container {
		width: 100%;
		height: auto;
	}
	#hero-title {
		font-style: normal;
		font-weight: 800;
		font-size: 56px;
		line-height: 71px;
		color: #13183f;
	}
	#hero-text {
		font-style: normal;
		width: 400px;
		font-weight: 500;
		margin-top: -60px;
		font-size: 18px;
		line-height: 28px;
		color: #83869a;
	}
	#hero-inner-container {
		display: flex;
		width: 100%;
		height: auto;
	}
	#left-section {
		position: absolute;
		width: 40%;
		height: auto;
		left: 100px;
		top: 180px;
	}
	#hero-image-tablet-desktop,
	#hero-image-container {
		width: 60%;
		height: 890px;
	}
	#hero-image-tablet-desktop {
		z-index: -1;
		position: absolute;
		background-image: url("/assets/image-hero-desktop.png");
		right: -12%;
		top: -18%;
		clip: rect(146px, 656px, 890px, 0px);
	}
	#hero-image-mobile {
		visibility: hidden;
	}
	#hero-btn {
		background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
	}
	.logo {
		font-style: normal;
		font-weight: 800;
		font-size: 36px;
		line-height: 45px;
	}

	.btn {
		width: 167px;
		height: 56px;
		border-radius: 28px;
		border: 0px;
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 28px;
		color: #ffffff;
	}

	#main {
		width: 100%;
		height: 888px;
		margin-top: -150px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
	}
	#inner-main {
		width: 90%;
		height: 748px;
		display: grid;
		grid-template-columns: repeat(3, 25%);
		grid-row-gap: 17%;
		grid-column-gap: 10%;
	}
	.card {
		width: 100%;
		height: 280px;
		padding: 20px;
		background: #ffffff;
		box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
		border-radius: 15px;
	}

	.inner-card-container {
		position: relative;
		width: auto;
		height: 218px;
		margin: 50px auto;
	}
	.course-more-info {
		position: absolute;
		cursor: pointer;
		user-select: none;
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 28px;
		color: #f74780;
		left: 0px;
		bottom: 0px;
	}
	.course-title {
		font-style: normal;
		font-weight: 800;
		font-size: 24px;
		line-height: 30px;
		color: #13183f;
	}
	.course-description {
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 28px;
		color: #83869a;
	}
	#popular-course-text {
		width: auto;
		height: 120px;
		color: #ffffff;
		font-style: normal;
		font-weight: 800;
		font-size: 32px;
		line-height: 40px;
	}
}
